@font-face {
        font-family: 'garet';
        src: url('root/fonts/garetbook.woff2') format('woff2'),  /* WOFF2 format */
             url('root/fonts/garetbook.woff') format('woff'),    /* WOFF format */
             url('root/fonts/garetbook.ttf') format('truetype'); /* TTF format */
        font-weight: normal;
        font-style: normal;

}
@font-face {
        font-family: 'garetheavy';
        src: url('root/fonts/garetheavy.woff2') format('woff2'),  /* WOFF2 format */
             url('root/fonts/garetheavy.woff') format('woff'),    /* WOFF format */
             url('root/fonts/garetheavy.ttf') format('truetype'); /* TTF format */
        font-weight: normal;
        font-style: normal;
      }
body {background-color: #b1d7d6;
      color: white;
      font-family: 'garet',arial, helvetica, sans-serif;
      font-size: 1.2em;
}
h1{font-family: 'garet';
  font-size: 2em;
  font-weight:bold;
}
h2{font-family: 'garetheavy'}
h3{font-family: 'garet';
  font-weight: 2em;
}
#headernav{background-color:#255353;
  color: white;
  margin: -0.8vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'garetheavy';
  font-size: 1.3em;
}

a{color: white;
  text-decoration: none;
}
a:hover{color: #306b6b;
}

#ourprogram{display: flex;
flex-direction: row;
}
#highlight{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 46vw;
  padding: 2vw;
  font-size: 1.5em;
  top: 0vw;
}
.script{position: relative;
width: 20vw;
z-index: 2;
top: 1.3vw;


}
.heading{color: #255353;
  position: relative;
  font-family: 'garetheavy';
  font-size: 1.3em;
  margin-top: -10vw;

}
.backgroundimage {position: absolute;
  top: 25vw;
  left: -30vh;
  z-index: -1;
  width: 0vh;

}

#desc{
  position: relative;
  width: 46vw;
  padding: 2vw;
  font-size: 1.5em;
  top: 0vw;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.photo{display: flex;
      justify-content: center;

}
#license {display: flex;
          justify-content: center;
          flex-direction: column;
          background-color: rgba(37, 83, 83, 0.5);
          Margin: 2vw;
          padding: 2vw;

}
#license>p{font-size: 1.5em;
            text-align: center;

}
.asidebutton{
  background-color: #b1d7d6;
  color: white;
  font-family: 'garet',arial, helvetica, sans-serif;
  font-size: 1em;
  border:0;
  width: 15vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
button:hover {background-color: #306b6b;

}

footer{
  position: relative;
  display:flex;
  flex-direction: row;
  float: none;
  top: 0vw;
  margin: -1vw;
  background-color: #255353;
  z-index: 3;
}
.bottom{display: flex;
flex-direction: column;
text-align: center;
font-size: 1.2em;
margin-top: 5vw;
margin-bottom: 2vw;
padding-left: 5vw;
padding-right: 2vw;
}
.logo{margin: 2vw;
  height: 10vw;
}
